@charset "UTF-8";

@font-face {
  font-family: 'ChopinScript';
  src: url('../fonts/ChopinScript/ChopinScript.eot');
  src: url('../fonts/ChopinScript/ChopinScript.ttf') format('truetype'),
  url('../fonts/ChopinScript/ChopinScript.woff') format('woff');
}

@-webkit-keyframes box-hide {
  0% {
    opacity: 1;
  }
  25% {
    opacity: .75;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .25;
  }
  100% {
    opacity: 0;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-box {
  width: 80%;
  height: 17rem;
  overflow: hidden;
}

.choco-box {
  height: 100%;
  background-color: rgb(86, 63, 46);
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.choco-box.hide {
  display: none;
  -webkit-animation: box-hide 2s linear 0s;
}

.choco-box:before {
  content: '';
  width: 3.5rem;
  height: 22rem;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: rgb(220, 159, 180);
  position: absolute;
  top: -6rem;
  left: 4rem;
}

.choco-box:after {
  content: '';
  position: absolute;
  width: 3.5rem;
  height: 12rem;
  background-color: rgb(220, 159, 180);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: -3rem;
  right: 0;
}

.choco-box__msg {
  font-family: ChopinScript;
  color: rgb(255, 177, 27);
  font-size: 3rem;
  position: absolute;
  bottom: 3rem;
  right: 8rem;
}

.chocolate {
  height: 100%;
}

.chocolate-line {
  display: flex;
  height: 25%;
  border-bottom: 4px solid #2A130C;
  border-left: 4px solid #2A130C;
  border-right: 4px solid #2A130C;
}

.chocolate-line:first-child {
  border-top: 4px solid #2A130C;
}

.chocolate-block {
  background-color: #602D1D;
  width: 20%;
  font-family: 'Lily Script One', cursive;
  color: #3A1B11;
  font-size: 1.7rem;
  font-weight: bold;
  border-right: 4px solid #2A130C;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 3px 3px 0 0 rgba(0, 0, 0, .3) inset, -3px -3px 0 0 rgba(0, 0, 0, .3) inset;
  -moz-box-shadow: 3px 3px 0 0 rgba(0, 0, 0, .3) inset, -3px -3px 0 0 rgba(0, 0, 0, .3) inset;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, .3) inset, -3px -3px 0 0 rgba(0, 0, 0, .3) inset;
  text-shadow: 0px 1px 0 #8C8888;
}

.chocolate-block:last-child {
  border-right: 0;
}

.c1 {
  color: rgb(86, 63, 46); /* 焦茶 */
}

.c2 {
  color: rgb(220, 159, 180); /* 撫子 */
}

.c3 {
  color: rgb(255, 177, 27); /* 山吹色 */
}